<p id="notice"><%= notice %></p>

<h1>Imóveis a Venda</h1>

<% prop_cols = %i(type usable_size_m2 toilet_count bedroom_count floor) %>

<table>
  <thead>
    <tr>
      <th>Bairro</th>
      <th>Preço</th>
      <% prop_cols.each do |c| %>
        <th><%= Property.human_attribute_name(c) %></th>
      <% end %>
      <th>Mobiliado?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sale_listings.each do |sale_listing| %>
      <tr>
        <td><%= sale_listing.property.address.neighborhood %></td>
        <td><%= sale_listing.price_cents %></td>
        <% prop_cols.each do |c| %>
          <td><%= sale_listing.property.public_send(c) %></td>
        <% end %>
        <td><%= sale_listing.furnished %></td>
        <td><%= link_to 'Show', sale_listing %></td>
      </tr>
    <% end %>
  </tbody>
</table>

