<p id="notice"><%= notice %></p>

<h1>Sale Listings</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Type</th>
      <th>Price cents</th>
      <th>Minimum down payment cents</th>
      <th>Furnished</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sale_listings.each do |sale_listing| %>
      <tr>
        <td><%= sale_listing.property %></td>
        <td><%= sale_listing.type %></td>
        <td><%= sale_listing.price_cents %></td>
        <td><%= sale_listing.minimum_down_payment_cents %></td>
        <td><%= sale_listing.furnished %></td>
        <td><%= link_to 'Show', sale_listing %></td>
        <td><%= link_to 'Edit', edit_sale_listing_path(sale_listing) %></td>
        <td><%= link_to 'Destroy', sale_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale Listing', new_sale_listing_path %>
